body {
  margin: 0;
  border: 0;
}
body .box {
  width: 100px;
  height: 100px;
  background: #ff0000;
  position: relative;
}
.box.green {
  width: 200px;
  background: #0f0;
  border: 1px solid #00f;
  border-radius: 3px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.box.green img {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg {
  background: url("../images/1.jpg");
}
